<nav>
    <h1 class="nav-brand">GPTC Attingal</h1>
    <ul class="nav-lists">
        <li><a href="" class="main-list">Home</a></li>
        <li class="dropdown">
            <a href="" class="main-list">Department <i class="fa-solid fa-chevron-down"></i></a>
            <ul class="dropdown-content">
                <li><a href="">Computer Hardware Engineering</a></li>
                <li><a href="">Mechanical Engineering</a></li>
                <li><a href="">Automobile Engineering</a></li>
                <li><a href="">Electronical Engineering</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="" class="main-list">Facilities <i class="fa-solid fa-chevron-down"></i></a>
            <ul class="dropdown-content">
                <li><a href="">Computer Hardware Engineering</a></li>
                <li><a href="">Mechanical Engineering</a></li>
                <li><a href="">Automobile Engineering</a></li>
                <li><a href="">Electronical Engineering</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="" class="main-list">Activities <i class="fa-solid fa-chevron-down"></i></a>
            <ul class="dropdown-content">
                <li><a href="">Computer Hardware Engineering</a></li>
                <li><a href="">Mechanical Engineering</a></li>
                <li><a href="">Automobile Engineering</a></li>
                <li><a href="">Electronical Engineering</a></li>
            </ul>
        </li>
        <li><a href="" class="main-list">About</a></li>
        <li><a href="" class="main-list">Contact Us</a></li>
    </ul>
</nav>