<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <title>Document</title>
</head>
<body>
    <%- include('./partials/navbar') %>
    <div class="carousel">
        <button id="prev-btn" onclick="goPrev()">prev</button>
        <div class="slide">
            <div class="slide-overlay">
                <h2>GOVERNMENT POLYTECHNIC COLLEGE ATTINGAL</h2>
                <p>MRQH+PC9, Valiyakunnu, Attingal, Kerala 695103</p>
                <p>Phone:04734 123456(Office)</p>
                <p>Website : gptcattingal.org Email : gptcattingal@email.com</p>
                <div class="carousel-btn">
                    <a href="#">About Us</a>
                    <a href="#">Contact US</a>
                </div>
            </div> 
        </div>
        <div class="slide">
            <div class="slide-overlay">
                <h2>GOVERNMENT POLYTECHNIC COLLEGE ATTINGAL</h2>
                <p>MRQH+PC9, Valiyakunnu, Attingal, Kerala 695103</p>
                <p>Phone:04734 123456(Office)</p>
                <p>Website : gptcattingal.org Email : gptcattingal@email.com</p>
                <div class="carousel-btn">
                    <a href="#">About Us</a>
                    <a href="#">Contact US</a>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="slide-overlay">
                <h2>GOVERNMENT POLYTECHNIC COLLEGE ATTINGAL</h2>
                <p>MRQH+PC9, Valiyakunnu, Attingal, Kerala 695103</p>
                <p>Phone:04734 123456(Office)</p>
                <p>Website : gptcattingal.org Email : gptcattingal@email.com</p>
                <div class="carousel-btn">
                    <a href="#">About Us</a>
                    <a href="#">Contact US</a>
                </div>
            </div>
        </div>
        <button id="next-btn" onclick="goNext()">next</button>
    </div>
    <script src="./scripts/main.js"></script>
</body>
</html>